
lab2/unpickled.npz
lab2/UP.npz
lab2/data/off.npz
lab2/data/on.npz
lab2/power_off.npz
lab2/data/cass_off.npz
lab2/data/cass_on.npz
lab2/data/thermal/*
*.synctex.gz
*.dvi
*.log
*.blg
*.DS_Store
*.pyc
lab1/res/*
lab1/data/old/*
lab2/pres/*
lab3/lukas/pres/*
lab4/lukas/pres/*