
lab2/src/cap_2458899_4388351864_s_off_lower_1229
lab2/unpickled.npz
lab2/UP.npz
*.npz
lab2/rprt/main.synctex.gz
lab1/rprt/main.dvi
lab1/rprt/main.synctex.gz
lab2/drive-download-20200227T013406Z-001.zip
